## Correcting coordinates
Since some of the coordinates from Unity were not accurate, they were recalculated and will now be mapped on the final data frame.

In [1]:
import os
import pandas as pd
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

### Load corrected coordinates
built on script `01_CoordinatesJasons`

In [2]:
CorrectedCoordinates = pd.read_csv('/Volumes/TwoTeras/Resources/BuildingCoordinates_short_exp2.csv')
CorrectedCoordinates

,Unnamed: 0,BuildingCenterWorld.x,BuildingCenterWorld.z,Name,BuildingName,PointingTargetBuildingId,AgentID,PointingTargetCondition,Context,Agent
0,0,255.062286,-18.984482,53_Sa,TaskBuilding_1,1,53,Sa,False,True
1,1,255.062286,-18.984482,53_SaNo,TaskBuilding_1,1,53,SaNo,False,False
2,2,197.370117,234.419739,31_CmANo,TaskBuilding_2,2,31,CmANo,True,False
3,3,197.370117,234.419739,31_CmA,TaskBuilding_2,2,31,CmA,True,True
4,4,132.904114,29.115139,30_CmA,TaskBuilding_3,3,30,CmA,True,True
...,...,...,...,...,...,...,...,...,...,...
107,107,-71.695419,-26.238297,36_CmA,Construction_57,57,36,CmA,True,True
108,108,104.339996,-45.689999,10_CmANoAct,BasketballCourt_58,58,10,CmANoAct,True,False
109,109,104.339996,-45.689999,10_CmAAct,BasketballCourt_58,58,10,CmAAct,True,True
110,110,-318.127991,-167.823914,7_CmANoAct,Crane_59,59,7,CmANoAct,True,False
111,111,-318.127991,-167.823914,7_CmAAct,Crane_59,59,7,CmAAct,True,True

### Reading the participants data from the participants data reconstruction pipeline

In [3]:
CorrectedCoordinates[['AgentID', 'PointingTargetBuildingId', 'PointingTargetCondition']]

     AgentID  PointingTargetBuildingId PointingTargetCondition
0         53                         1                      Sa
1         53                         1                    SaNo
2         31                         2                   CmANo
3         31                         2                     CmA
4         30                         3                     CmA
..       ...                       ...                     ...
107       36                        57                     CmA
108       10                        58                CmANoAct
109       10                        58                  CmAAct
110        7                        59                CmANoAct
111        7                        59                  CmAAct

[112 rows x 3 columns]

In [4]:
PointingTask = pd.read_csv('/Volumes/TwoTeras/1_Experiment_2/Pointing_Task/Results/BuildingPointingTask_exp2.csv')
PointingTask.ImageName.astype('category')
PointingTask.ImageName.value_counts()

44_Sa_18          76
45_Sa_24          76
38_CmA_09         73
11_CmANoAct_21    73
03_CmAAct_16      71
                  ..
18_SaAct_48       44
20_SaAct_30       43
19_SaNoAct_31     43
22_SaAct_39       42
22_SaNoAct_39     40
Name: ImageName, Length: 112, dtype: int64

In [5]:
PointingTask.head()

,Unnamed: 0,SubjectID,ParticipantPosition_x,ParticipantPosition_z,PointerPosition_x,PointerPosition_z,PointerDirection_x,PointerDirection_z,PointerDirection_y,TargetBuildingPosition_x,...,StartPointID.1,ID_for_StartingPosition,ImageIndexNumber,ImageName,TimeDelta,RT,TimeOut,TimeStampBegin,TimeStampEnd,Angle
0,0,1031,-114.399338,-139.684418,-114.045883,-139.305084,0.383350,0.922763,0.039385,184.293533,...,1,1,11,33_CmANo_20,0 days 00:00:25.217632256,25.217632,False,2022-11-22 13:16:19.698233088,2022-11-22 13:16:44.915865344,53.821247
1,1,1031,-114.331833,-139.548859,-114.119827,-139.836395,0.998390,-0.049025,0.028542,-334.536285,...,1,2,106,43_Sa_55,0 days 00:00:24.303504640,24.303504,False,2022-11-22 13:16:45.193128960,2022-11-22 13:17:09.496633600,151.346756
2,2,1031,-114.299484,-139.607758,-113.805893,-139.339294,0.851683,0.524017,0.006571,157.620819,...,1,3,70,44_Sa_18,0 days 00:00:13.345377280,13.345377,False,2022-11-22 13:17:09.767945472,2022-11-22 13:17:23.113322752,12.880881
3,3,1031,-114.337112,-139.590088,-114.753433,-139.490936,-0.930045,-0.366954,0.018994,-192.461411,...,1,4,62,55_Sa_07,0 days 00:00:17.190865408,17.190866,False,2022-11-22 13:17:23.388105728,2022-11-22 13:17:40.578971136,2.110998
4,4,1031,-114.365067,-139.634033,-113.916641,-139.287994,0.523005,0.852030,0.022600,-311.341309,...,1,5,19,37_CmANo_08,0 days 00:00:24.513808128,24.513808,False,2022-11-22 13:17:40.845818112,2022-11-22 13:18:05.359626240,108.504898

In [6]:
#Merging the updated set of coordinates from new list with final participant data set
CoordinatesIntegrated = pd.merge(PointingTask, CorrectedCoordinates,
                                 left_on= ['avatarID' , 'meaningful'],
                                 right_on=['AgentID','Context'],
                                 how='outer',
                                 suffixes= ['_drop','_keep'])
CoordinatesIntegrated.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12992 entries, 0 to 12991
Data columns (total 41 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0_drop                12992 non-null  int64
 1   SubjectID                      12992 non-null  int64
 2   ParticipantPosition_x          12992 non-null  float64
 3   ParticipantPosition_z          12992 non-null  float64
 4   PointerPosition_x              12992 non-null  float64
 5   PointerPosition_z              12992 non-null  float64
 6   PointerDirection_x             12992 non-null  float64
 7   PointerDirection_z             12992 non-null  float64
 8   PointerDirection_y             12992 non-null  float64
 9   TargetBuildingPosition_x       12992 non-null  float64
 10  TargetBuildingPosition_z       12992 non-null  float64
 11  DistanceToParticipant          12992 non-null  float64
 12  avatarID                       12992 non-null  int64
 13  AvatarPresence                 12992 non-null  bool
 14  AvatarPresenceCategory         12992 non-null  object
 15  meaningful                     12992 non-null  bool
 16  meaningfulBuilding             12992 non-null  object
 17  StartPointID                   12992 non-null  int64
 18  PointingTaskStartingLocations  12992 non-null  int64
 19  Trials                         12992 non-null  int64
 20  TrialNumber                    12992 non-null  int64
 21  StartPointID.1                 12992 non-null  int64
 22  ID_for_StartingPosition        12992 non-null  int64
 23  ImageIndexNumber               12992 non-null  int64
 24  ImageName                      12992 non-null  object
 25  TimeDelta                      12992 non-null  object
 26  RT                             12992 non-null  float64
 27  TimeOut                        12992 non-null  bool
 28  TimeStampBegin                 12992 non-null  object
 29  TimeStampEnd                   12992 non-null  object
 30  Angle                          12992 non-null  float64
 31  Unnamed: 0_keep                12992 non-null  int64
 32  BuildingCenterWorld.x          12992 non-null  float64
 33  BuildingCenterWorld.z          12992 non-null  float64
 34  Name                           12992 non-null  object
 35  BuildingName                   12992 non-null  object
 36  PointingTargetBuildingId       12992 non-null  int64
 37  AgentID                        12992 non-null  int64
 38  PointingTargetCondition        12992 non-null  object
 39  Context                        12992 non-null  bool
 40  Agent                          12992 non-null  bool
dtypes: bool(5), float64(14), int64(13), object(9)
memory usage: 3.7+ MB

In [7]:
CoordinatesIntegrated.groupby(['SubjectID', 'TrialNumber']).count()

                       Unnamed: 0_drop  ParticipantPosition_x  \
SubjectID TrialNumber
1031      1                          2                      2
          2                          2                      2
          3                          2                      2
          4                          2                      2
          5                          2                      2
...                                ...                    ...
9627      220                        2                      2
          221                        2                      2
          222                        2                      2
          223                        2                      2
          224                        2                      2

                       ParticipantPosition_z  PointerPosition_x  \
SubjectID TrialNumber
1031      1                                2                  2
          2                                2                  2
          3                                2                  2
          4                                2                  2
          5                                2                  2
...                                      ...                ...
9627      220                              2                  2
          221                              2                  2
          222                              2                  2
          223                              2                  2
          224                              2                  2

                       PointerPosition_z  PointerDirection_x  \
SubjectID TrialNumber
1031      1                            2                   2
          2                            2                   2
          3                            2                   2
          4                            2                   2
          5                            2                   2
...                                  ...                 ...
9627      220                          2                   2
          221                          2                   2
          222                          2                   2
          223                          2                   2
          224                          2                   2

                       PointerDirection_z  PointerDirection_y  \
SubjectID TrialNumber
1031      1                             2                   2
          2                             2                   2
          3                             2                   2
          4                             2                   2
          5                             2                   2
...                                   ...                 ...
9627      220                           2                   2
          221                           2                   2
          222                           2                   2
          223                           2                   2
          224                           2                   2

                       TargetBuildingPosition_x  TargetBuildingPosition_z  \
SubjectID TrialNumber
1031      1                                   2                         2
          2                                   2                         2
          3                                   2                         2
          4                                   2                         2
          5                                   2                         2
...                                         ...                       ...
9627      220                                 2                         2
          221                                 2                         2
          222                                 2                         2
          223                                 2                         2
          224                                 2                         2

                       ...  Unnamed: 0_keep  BuildingCenterWorld.x  \
SubjectID TrialNumber  ...
1031      1            ...                2                      2
          2            ...                2                      2
          3            ...                2                      2
          4            ...                2                      2
          5            ...                2                      2
...                    ...              ...                    ...
9627      220          ...                2                      2
          221          ...                2                      2
          222          ...                2                      2
          223          ...                2                      2
          224          ...                2                      2

                       BuildingCenterWorld.z  Name  BuildingName  \
SubjectID TrialNumber
1031      1                                2     2             2
          2                                2     2             2
          3                                2     2             2
          4                                2     2             2
          5                                2     2             2
...                                      ...   ...           ...
9627      220                              2     2             2
          221                              2     2             2
          222                              2     2             2
          223                              2     2             2
          224                              2     2             2

                       PointingTargetBuildingId  AgentID  \
SubjectID TrialNumber
1031      1                                   2        2
          2                                   2        2
          3                                   2        2
          4                                   2        2
          5                                   2        2
...                                         ...      ...
9627      220                                 2        2
          221                                 2        2
          222                                 2        2
          223                                 2        2
          224                                 2        2

                       PointingTargetCondition  Context  Agent
SubjectID TrialNumber
1031      1                                  2        2      2
          2                                  2        2      2
          3                                  2        2      2
          4                                  2        2      2
          5                                  2        2      2
...                                        ...      ...    ...
9627      220                                2        2      2
          221                                2        2      2
          222                                2        2      2
          223                                2        2      2
          224                                2        2      2

[6496 rows x 39 columns]

In [8]:
CoordinatesIntegrated.rename(columns={"BuildingCenterWorld.z": "BuildingCenterWorld_z", "BuildingCenterWorld.x": "BuildingCenterWorld_x"}, inplace=True)

In [9]:
CoordinatesIntegrated = CoordinatesIntegrated[['SubjectID',
                                               'ParticipantPosition_x', 'ParticipantPosition_z',
                                               'PointerPosition_x','PointerPosition_z',
                                               'PointerDirection_x', 'PointerDirection_z',
                                               'BuildingCenterWorld_z', 'BuildingCenterWorld_x', 'DistanceToParticipant',
                                               'PointingTaskStartingLocations','AgentID', 'Name',
                                               'StartPointID','PointingTargetCondition', 'Context', 'Agent', 'avatarID','AvatarPresence', 'AvatarPresenceCategory', 'meaningful','meaningfulBuilding',
                                               'Trials', 'TrialNumber', 'StartPointID' ,'ID_for_StartingPosition','ImageName',
                                               'TimeDelta','RT', 'TimeOut', 'TimeStampBegin', 'TimeStampEnd']]
#CoordinatesIntegrated = CoordinatesIntegrated[['SubjectID',
#                                               'ParticipantPosition_x', 'ParticipantPosition_z',
#                                               'PointerPosition_x','PointerPosition_z',
#                                               'PointerDirection_x', 'PointerDirection_z',
#                                               'BuildingCenterWorld_z', 'BuildingCenterWorld_x', 'DistanceToParticipant',
#                                               'PointingTaskStartingLocations','AgentID', 'Name',
#                                               'StartPointID','PointingTargetCondition', 'Context', 'Agent', 'avatarID','AvatarPresence', 'AvatarPresenceCategory', 'meaningful','BuildingCategory',
#                                               'Trials', 'TrialNumber', 'StartPointID' ,'ID_for_StartingPosition','ImageName',
#                                               'TimeDelta','RT', 'TimeOut', 'TimeStampBegin', 'TimeStampEnd']]

In [10]:
CoordinatesIntegrated.drop_duplicates(subset=['SubjectID', 'TrialNumber'], inplace=True)
CoordinatesIntegrated.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6496 entries, 0 to 12990
Data columns (total 32 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   SubjectID                      6496 non-null   int64
 1   ParticipantPosition_x          6496 non-null   float64
 2   ParticipantPosition_z          6496 non-null   float64
 3   PointerPosition_x              6496 non-null   float64
 4   PointerPosition_z              6496 non-null   float64
 5   PointerDirection_x             6496 non-null   float64
 6   PointerDirection_z             6496 non-null   float64
 7   BuildingCenterWorld_z          6496 non-null   float64
 8   BuildingCenterWorld_x          6496 non-null   float64
 9   DistanceToParticipant          6496 non-null   float64
 10  PointingTaskStartingLocations  6496 non-null   int64
 11  AgentID                        6496 non-null   int64
 12  Name                           6496 non-null   object
 13  StartPointID                   6496 non-null   int64
 14  PointingTargetCondition        6496 non-null   object
 15  Context                        6496 non-null   bool
 16  Agent                          6496 non-null   bool
 17  avatarID                       6496 non-null   int64
 18  AvatarPresence                 6496 non-null   bool
 19  AvatarPresenceCategory         6496 non-null   object
 20  meaningful                     6496 non-null   bool
 21  meaningfulBuilding             6496 non-null   object
 22  Trials                         6496 non-null   int64
 23  TrialNumber                    6496 non-null   int64
 24  StartPointID                   6496 non-null   int64
 25  ID_for_StartingPosition        6496 non-null   int64
 26  ImageName                      6496 non-null   object
 27  TimeDelta                      6496 non-null   object
 28  RT                             6496 non-null   float64
 29  TimeOut                        6496 non-null   bool
 30  TimeStampBegin                 6496 non-null   object
 31  TimeStampEnd                   6496 non-null   object
dtypes: bool(5), float64(10), int64(9), object(8)
memory usage: 1.4+ MB

In [16]:
CoordinatesIntegrated.SubjectID.unique()

array([1031, 1142, 1234, 1268, 1574, 1843, 3193, 4580, 4598, 4847, 4875,
       5161, 5189, 5191, 5743, 5766, 5851, 5972, 6266, 6406, 7081, 7393,
       7823, 7935, 8629, 9297, 9627, 2069, 3540])

In [11]:
CoordinatesIntegrated[['AvatarPresence', 'AvatarPresenceCategory', 'ImageName']]

       AvatarPresence AvatarPresenceCategory       ImageName
0                True                Omitted     33_CmANo_20
2                True                Omitted     33_CmANo_20
4                True                Omitted     33_CmANo_20
6                True                Omitted     33_CmANo_20
8                True                Omitted     33_CmANo_20
...               ...                    ...             ...
12982            True                Omitted  05_CmANoAct_05
12984           False                Present    05_CmAAct_05
12986           False                Present    05_CmAAct_05
12988           False                Present    05_CmAAct_05
12990           False                Present    05_CmAAct_05

[6496 rows x 3 columns]

In [12]:
# Added cell to set Working Directory to your location
#os.chdir('/Users/tracysanchezpacheco/Documents/Resources')
os.chdir('/Volumes/TwoTeras/1_Experiment_2/Pointing_Task/Results')
os.getcwd()

'/Volumes/TwoTeras/1_Experiment_2/Pointing_Task/Results'

In [13]:
CoordinatesIntegrated[['ImageName', 'avatarID']]

            ImageName  avatarID
0         33_CmANo_20        33
2         33_CmANo_20        33
4         33_CmANo_20        33
6         33_CmANo_20        33
8         33_CmANo_20        33
...               ...       ...
12982  05_CmANoAct_05         5
12984    05_CmAAct_05         5
12986    05_CmAAct_05         5
12988    05_CmAAct_05         5
12990    05_CmAAct_05         5

[6496 rows x 2 columns]

In [14]:
CoordinatesIntegrated.to_csv('BuildingPointingTask_Integrated_exp2.csv')

In [15]:
CoordinatesIntegrated.columns

Index(['SubjectID', 'ParticipantPosition_x', 'ParticipantPosition_z',
       'PointerPosition_x', 'PointerPosition_z', 'PointerDirection_x',
       'PointerDirection_z', 'BuildingCenterWorld_z', 'BuildingCenterWorld_x',
       'DistanceToParticipant', 'PointingTaskStartingLocations', 'AgentID',
       'Name', 'StartPointID', 'PointingTargetCondition', 'Context', 'Agent',
       'avatarID', 'AvatarPresence', 'AvatarPresenceCategory', 'meaningful',
       'meaningfulBuilding', 'Trials', 'TrialNumber', 'StartPointID',
       'ID_for_StartingPosition', 'ImageName', 'TimeDelta', 'RT', 'TimeOut',
       'TimeStampBegin', 'TimeStampEnd'],
      dtype='object')