2043

In [2]:
from random import choice

Past_Participants = [479, 1754, 2258, 2361, 2693, 3246, 3310, 3572, 3976, 4176, 4796, 4917, 5238, 5531, 
                5741, 6642, 7093, 7264, 7412, 7842, 8007, 8469, 8673, 8695, 9472, 9502, 9586, 9601, 8629, 
                5766, 9627, 4598, 1031, 4847, 9297,5189, 6406, 7081]


print(choice([id for id in range(1000,9999) if id not in Past_Participants]))

5766

In [31]:
import pandas as pd 
# Create a sample dataframe
df = pd.DataFrame({'A': [1, 2, 3, 4, 5, 3, 1, 3], 'B': [6, 7, 8, 9, 10, 99, 10, 12]})

df.head(8)

   A   B
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10
5  3  99
6  1  10
7  3  12

In [32]:
# Find the index of the first row that meets the condition
index = df[df['A'] == 3].index
df.head()

   A   B
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

In [37]:
df['new'] = (df['A'] == 3) & (df['B'] < 10)
df.head()

   A   B    new
0  1   6  False
2  3   8   True
3  4   9  False
5  3  99  False
7  3  12  False

In [38]:
df[(df['A'] == 3) & (df['B'] < 10)].index

Int64Index([2], dtype='int64')

In [25]:
# Delete the rows previous to the one that meets the condition
df = df.drop(df.index[:index_Minusone])
df.head()

TypeError: slice indices must be integers or None or have an __index__ method

In [33]:
index_Minusone = index -1

In [34]:
df.drop(index_Minusone, inplace=True)

In [35]:
df.head()

   A   B
0  1   6
2  3   8
3  4   9
5  3  99
7  3  12

In [ ]:
indexColliderDelete