# Joining final data sets

In [1]:
import os
import pandas as pd
from functools import reduce

In [2]:
# Loading the final datasets data come as a result of the jupiter notebooks contained in  
FRSquest = pd.read_csv('/Volumes/TwoTeras/0_Experiment_1/Questionnaires/Results/FRSsubs_exp1.csv')
FRSquest.drop('Unnamed: 0', axis=1, inplace=True)
FRSquest.head()

       ID  Alter   Global  Overview  Cardinal
0   365.0    37.0     5.6  6.285714       2.5
1  3572.0    23.0     5.7  3.142857       1.0
2  7264.0    23.0     4.7  5.000000       1.0
3  8469.0    29.0     4.2  2.857143       1.0
4  6642.0    19.0     4.9  4.714286       4.0

In [3]:
affiliative = pd.read_csv('/Volumes/TwoTeras/0_Experiment_1/Questionnaires/Results/AffilliativeTend_exp1.csv')
affiliative = affiliative[['ID', 'AffiliativeQ_average']]
affiliative.head(18)

      ID  AffiliativeQ_average
0   8469                   3.8
1   7264                   1.4
2   3572                   4.0
3    365                   5.2
4   6642                   4.2
5   5741                   2.8
6   7842                   3.4
7   4176                   3.4
8   9472                   4.6
9   4623                   2.2
10  9502                   2.4
11  7093                   3.6
12  2258                   5.0
13  1754                   2.4
14  5238                   5.0
15  8695                   4.8
16  3976                   2.4
17  5531                   5.6

In [4]:
context = pd.read_csv('/Volumes/TwoTeras/0_Experiment_1/Questionnaires/Results/ContextQuest_exp1.csv')
context = context[['ID', 'item3','ContextQ_average']]
context.head()

     ID  item3  ContextQ_average
0  8469      4               5.0
1  7264      3               7.0
2  3572      2               4.5
3   365      2               3.5
4  6642      3               6.0

In [5]:
avatar_sum = pd.read_csv('/Volumes/TwoTeras/0_Experiment_1/Questionnaires/Results/AgentQuest_exp1.csv')
avatar_sum.head(21)

,ID,remember_action_likert,remember_standing_likert,attractive_action_likert,attractive_standing_likert,realistic_action_likert,realistic_standing_likert
0,365,2.714286,1.107143,2.214286,1.178571,3.392857,1.964286
1,479,4.178571,2.214286,1.000000,1.000000,3.571429,3.250000
2,1754,1.678571,1.035714,3.107143,2.892857,3.821429,3.464286
3,2258,3.464286,1.464286,2.142857,2.000000,3.035714,2.000000
4,2693,1.642857,1.000000,1.714286,1.250000,3.250000,2.428571
5,3246,3.357143,1.750000,2.392857,2.214286,3.678571,3.607143
6,3310,2.464286,1.607143,3.107143,2.750000,3.142857,2.928571
7,3572,2.250000,1.714286,2.607143,2.607143,2.964286,2.678571
8,3976,1.892857,1.000000,1.035714,1.035714,4.321429,3.750000
9,4176,3.000000,1.107143,1.607143,1.500000,3.321429,2.892857
10,4597,3.321429,1.250000,3.107143,2.607143,3.785714,3.035714
11,4623,2.321429,1.714286,2.178571,1.857143,2.750000,2.285714
12,4796,3.214286,1.250000,3.035714,2.428571,3.857143,2.535714
13,4917,3.214286,1.500000,2.428571,1.821429,2.785714,2.464286
14,5238,3.392857,1.535714,3.142857,2.571429,3.821429,3.071429
15,5531,3.571429,2.250000,3.392857,3.035714,3.821429,2.928571
16,5741,3.857143,2.928571,2.535714,1.821429,3.214286,2.857143
17,6642,3.642857,2.178571,2.857143,2.428571,3.892857,3.214286
18,7093,2.964286,1.500000,2.464286,1.714286,3.392857,2.821429
19,7264,2.178571,1.785714,2.535714,2.178571,3.107143,2.928571
20,7412,3.607143,1.678571,2.428571,2.000000,2.928571,2.357143

In [6]:
pointing_sum= pd.read_csv('/Volumes/TwoTeras/0_Experiment_1/Pointing_Task/Results/PointingSummary_1_exp1.csv')
pointing_sum.drop('Unnamed: 0', axis=1, inplace=True)
pointing_sum.head()

,ID,AbsolutError,SignedAngle-+180,IQR,RT,DistanceToParticipant,PointingTaskStartingLocations,TrialNumber,StartPointID,ID_for_StartingPosition,avatarID,AvatarPresenceCategory,Context,meaningfulBuilding,ImageName
0,365,15.396716,15.396716,63.921884,25.825715,197.768723,21,1,1,1,46,Present,False,Not meaningful,46_Sa
1,365,6.037733,-6.037733,63.921884,4.799789,213.475525,16,78,7,6,46,Omitted,False,Not meaningful,46_SaNo
2,365,6.345290,6.345290,63.921884,4.638590,111.623512,13,88,8,4,46,Present,False,Not meaningful,46_Sa
3,365,3.627752,3.627752,63.921884,2.361455,111.623512,13,95,8,11,46,Omitted,False,Not meaningful,46_SaNo
4,365,19.115237,-19.115237,63.921884,5.975304,232.765823,8,131,11,11,46,Omitted,False,Not meaningful,46_SaNo

In [7]:
pointing_sum.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10048 entries, 0 to 10047
Data columns (total 15 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   ID                             10048 non-null  int64
 1   AbsolutError                   10048 non-null  float64
 2   SignedAngle-+180               10048 non-null  float64
 3   IQR                            10048 non-null  float64
 4   RT                             10048 non-null  float64
 5   DistanceToParticipant          10048 non-null  float64
 6   PointingTaskStartingLocations  10048 non-null  int64
 7   TrialNumber                    10048 non-null  int64
 8   StartPointID                   10048 non-null  int64
 9   ID_for_StartingPosition        10048 non-null  int64
 10  avatarID                       10048 non-null  int64
 11  AvatarPresenceCategory         10048 non-null  object
 12  Context                        10048 non-null  bool
 13  meaningfulBuilding             10048 non-null  object
 14  ImageName                      10048 non-null  object
dtypes: bool(1), float64(5), int64(6), object(3)
memory usage: 1.1+ MB

In [8]:
data_frames = [FRSquest, affiliative, context, avatar_sum, pointing_sum]
humanA_Behavioural = reduce(lambda  left,right: pd.merge(left,right,on=['ID'],
                                                how='outer'), data_frames)

In [9]:
humanA_Behavioural.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10049 entries, 0 to 10048
Data columns (total 28 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   ID                             10049 non-null  float64
 1   Alter                          9718 non-null   float64
 2   Global                         9718 non-null   float64
 3   Overview                       9718 non-null   float64
 4   Cardinal                       9718 non-null   float64
 5   AffiliativeQ_average           9382 non-null   float64
 6   item3                          9382 non-null   float64
 7   ContextQ_average               9382 non-null   float64
 8   remember_action_likert         9713 non-null   float64
 9   remember_standing_likert       9713 non-null   float64
 10  attractive_action_likert       9713 non-null   float64
 11  attractive_standing_likert     9713 non-null   float64
 12  realistic_action_likert        9713 non-null   float64
 13  realistic_standing_likert      9713 non-null   float64
 14  AbsolutError                   10048 non-null  float64
 15  SignedAngle-+180               10048 non-null  float64
 16  IQR                            10048 non-null  float64
 17  RT                             10048 non-null  float64
 18  DistanceToParticipant          10048 non-null  float64
 19  PointingTaskStartingLocations  10048 non-null  float64
 20  TrialNumber                    10048 non-null  float64
 21  StartPointID                   10048 non-null  float64
 22  ID_for_StartingPosition        10048 non-null  float64
 23  avatarID                       10048 non-null  float64
 24  AvatarPresenceCategory         10048 non-null  object
 25  Context                        10048 non-null  object
 26  meaningfulBuilding             10048 non-null  object
 27  ImageName                      10048 non-null  object
dtypes: float64(24), object(4)
memory usage: 2.1+ MB

In [10]:
humanA_Behavioural.to_csv('/Volumes/TwoTeras/0_Experiment_1/humanA_Behavioural_exp1.csv')

In [11]:
humanA_Behavioural[['ImageName', 'avatarID']]

      ImageName  avatarID
0         46_Sa      46.0
1       46_SaNo      46.0
2         46_Sa      46.0
3       46_SaNo      46.0
4       46_SaNo      46.0
...         ...       ...
10044   29_SaNo      29.0
10045   29_SaNo      29.0
10046   29_SaNo      29.0
10047     53_Sa      53.0
10048     53_Sa      53.0

[10049 rows x 2 columns]