In [1]:
import pandas as pd 
import numpy as np

In [12]:
Experiment_1 = pd.read_csv("/Volumes/TwoTeras/0_Experiment_1/Eye_Tracking/Pre_processed/Data_Sets/Dwelling_Buildings_Exp1.cvs")
Experiment_2 = pd.read_csv("/Volumes/TwoTeras/1_Experiment_2/Eye_Tracking/Pre_processed/Data_Sets/Dwelling_Buildings_Exp2.cvs")

In [13]:
# Drop columns that have "Unnamed" in their name from Experiment_1
Experiment_1 = Experiment_1.loc[:, ~Experiment_1.columns.str.contains('^Unnamed')]

# Drop columns that have "Unnamed" in their name from Experiment_2
Experiment_2 = Experiment_2.loc[:, ~Experiment_2.columns.str.contains('^Unnamed')]

# Display the remaining columns for both dataframes
print("Experiment_1 columns:", Experiment_1.columns)
print("Experiment_2 columns:", Experiment_2.columns)

Experiment_1 columns: Index(['SubjectID', 'recoded', 'Collider_CategoricalN', 'Dwelling_Time',
       'Fixation_Count'],
      dtype='object')
Experiment_2 columns: Index(['SubjectID', 'recoded', 'Collider_CategoricalN', 'Dwelling_Time',
       'Fixation_Count'],
      dtype='object')

In [19]:
display(Experiment_1.shape)
display(Experiment_2.shape)

(7855, 5)

(8298, 5)

In [18]:
# Concatenate the two DataFrames
combined_data = pd.concat([Experiment_1, Experiment_2], ignore_index=True)
combined_data.shape

(16153, 5)

In [20]:
combined_data.groupby([ "Collider_CategoricalN"])["Dwelling_Time"].agg(['median','count','mean','std','max', 'min'])

,median,count,mean,std,max,min
Collider_CategoricalN,,,,,,
Active_Agent,2.413019,1485,3.630968,3.737195,24.635303,0.044144
Building,4.688187,10018,6.677964,6.690153,65.971493,0.033232
Global_Landmark,13.752491,257,16.272585,10.690618,84.935903,2.249918
Passive_Agent,1.777920,1440,2.656202,2.778238,20.126391,0.033231
TaskBuilding_Public,10.422447,1473,11.818989,8.475340,60.043900,0.059024
TaskBuilding_Residential,9.961912,1480,11.655882,8.294373,83.283593,0.043648