In [1]:
import pandas as pd
import os
import glob

In [7]:
# Define the directory where individual entropy results are saved
output_entropy_dir = "/Volumes/TwoTeras/0_Experiment_1/Entropy_Results/Window/entropy_results/"
entropy_log_path = "/Volumes/TwoTeras/0_Experiment_1/Entropy_Results/entropy_log_Window_reduced.csv"

# Get list of all entropy result CSV files
entropy_files = glob.glob(os.path.join(output_entropy_dir, "*.csv"))

# Initialize a list to collect DataFrames
dfs = []

# Loop through each file and append its DataFrame with additional columns
for file in entropy_files:
    try:
        # Extract Participant_ID and Session from the file name (assuming format participantID_Session.csv)
        filename = os.path.basename(file)
        participant_id, session = filename.split("_")[0], filename.split("_")[1].split(".")[0]
        
        # Read the file
        df = pd.read_csv(file)

        # Add Participant_ID and Session columns
        df['Participant_ID'] = participant_id
        df['Session'] = session

        # Append to the list of DataFrames
        dfs.append(df)
    except Exception as e:
        print(f"Error reading file {file}: {e}")

# Concatenate all DataFrames into one
if dfs:
    general_entropy_df = pd.concat(dfs, ignore_index=True)

    # Create the new column Agent_ID
    general_entropy_df['Agent_ID'] = general_entropy_df['Collider_Name'].str[:2]
    
    # Create the new column Agent_Type
    general_entropy_df['Agent_Type'] = general_entropy_df['Agent_ID'].astype(int).apply(lambda x: 'Active' if x < 28 else 'Passive')
    
    general_entropy_df['Experiment'] = 1

    # Save the concatenated DataFrame
    general_entropy_df.to_csv(entropy_log_path, index=False)
    print(f"General entropy log saved to {entropy_log_path}")
else:
    print("No entropy result files found or unable to concatenate.")

General entropy log saved to /Volumes/TwoTeras/0_Experiment_1/Entropy_Results/entropy_log_Window_reduced.csv

In [6]:
general_entropy_df.tail()

,Trial_ID,Collider_Name,Occurrence_Order,Overall_Transition_Entropy,Participant_ID,Session,Agent_ID,Agent_Type
4918,40_Sa_Trial_3,40_Sa,3,0.451826,9586,5,40,Passive
4919,46_Sa_Trial_17,46_Sa,17,0.433243,9586,5,46,Passive
4920,51_Sa_Trial_1,51_Sa,1,0.338536,9586,5,51,Passive
4921,52_Sa_Trial_19,52_Sa,19,0.444768,9586,5,52,Passive
4922,55_Sa_Trial_15,55_Sa,15,0.364081,9586,5,55,Passive

In [4]:
# Create the new column Agent_ID
general_entropy_df['Agent_ID'] = general_entropy_df['Collider_Name'].str[:2]

In [5]:
general_entropy_df.head()

,Trial_ID,Collider_Name,Occurrence_Order,Overall_Transition_Entropy,Participant_ID,Session,Agent_ID,Agent_Type
0,01_Cma_Trial_31,01_Cma,31,0.554319,0479,2,01,Active
1,01_Cma_Trial_32,01_Cma,32,0.465973,0479,2,01,Active
2,01_Cma_Trial_4,01_Cma,4,0.329845,0479,2,01,Active
3,02_Cma_Trial_16,02_Cma,16,0.404649,0479,2,02,Active
4,03_Cma_Trial_6,03_Cma,6,0.510624,0479,2,03,Active